body {
  background-color: #f1f3f6;
}

.login-card {
  width: 750px;
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
}

.left-box {
  width: 40%;
  background-color: #2874f0;
}

.right-box {
  width: 60%;
}

.login-title {
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
}

.login-desc {
  font-size: 0.95rem;
  color: #dfe7f2;
  line-height: 1.5rem;
}

.image-container {
  margin-top: auto;
}

.form-control {
  font-size: 0.95rem;
  padding: 10px;
}

.login-btn {
  background-color: #fb641b;
  color: white;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  height: 50px;
  font-size: 16px;
}

.otp-btn {
  background-color: white;
  color: #2874f0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  height: 50px;
  font-size: 16px;
}
